* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}
nav {
  flex: 1;
  text-align: right;
}
nav ul {
  display: inline-block;
  list-style: none;
}
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 0px;
  padding-right: 0px;
}
.logo {
  align-items: center;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.col-2 {
  flex-basis: 50%;
  min-width: 300x;
}
.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}
.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.btn {
  display: inline-block;
  background: #ad896c;
  color: white;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: background 0.5s;
}
.btn:hover {
  background: black;
}
body {
  font-family: "montserrat";
}
.categorylist {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  row-gap: 1em;
  column-gap: 1em;
  text-align: center;
}
.grid_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 80px;
}
.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 50px;
}
.grid2 img {
  width: 100%;
}
.grid_1 img {
  width: 100%;
}
.footer {
  background: #d8d9d7;
  color: white;
  font-size: 14px;
  padding: 60px 0 20px;
}
.footer p {
  color: white;
}
.footer h3 {
  color: white;
  margin-bottom: 20px;
}
.footer img {
  width: 200px;
}
.footer-col1,
.footer-col2,
.footer-col3,
.footer-col4 {
  min-width: 250px;
  margin-bottom: 20px;
}
.footer-col1 {
  flex-basis: 30%;
}
.footer-col2 {
  flex: 1;
  text-align: center;
}
.footer-col3,
.footer-col4 {
  flex-basis: 12%;
  text-align: center;
}
ul {
  list-style-type: none;
}

.app-logo img {
  width: 140px;
}
.footer hr {
  border: none;
  background: white;
  height: 1px;
  margin: 20px;
}
.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}
.boks {
  display: inline-block;
  background: #ad896c;
  color: white;
  padding: 50px 10px;
  margin: 30px 0;
  border-radius: 50px;
  transition: background 0.5s;
  font-size: 20px;
}
.copy {
  text-align: center;
}
.product {
  margin-left: 80px;
  font-size: 50px;
  margin-top: 20px;
}
.soldOut::before {
  content: "SOLD OUT";
  position: absolute;
  background: grey;
  color: white;
  padding: 1rem;
  font-family: "montserrat";
}
.soldOut img {
  opacity: 0.3;
}
.grid_1 article.soldOut img {
  opacity: 0.5;
}
.grid_1 article {
  display: flex;
  flex-direction: column;
  border: solid;
  padding: 5px;
}
.grid_1 img {
  width: 100%;
}
.subtle {
  color: gray;
}
.percent {
  background-color: #555;
  color: white;
  padding: 0.2rem;
}
.grid_1 article.onSale .discounted {
  display: flex;
  justify-content: space-between;
}
.grid_1 article .discounted {
  display: none;
}

@media only screen and (max-width: 800px) {
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background: #d8d9d7;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a {
    color: white;
  }
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .categorylist {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid2,
  .grid_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2 {
    flex-basis: 100%;
  }
  .grid2,
  .grid_1 {
    display: grid;
    grid-template-columns: 1fr;
  }
  .categorylist {
    display: grid;
    grid-template-columns: 1fr;
  }
}
dt {
  font-weight: bold;
  margin-top: 20px;
}
